.home-content {
  padding: 0 20px 0 20px;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  width: 30px;
}

.logo {
  width: 100px;
  height: auto;
}

.profile-menu {
  border: solid 1px darkgray;
  width: 100px;
  height: 50px;
  border-radius: 30px;
  padding: 0 0 0 5px;
  position: relative;
  display: inline-block;
}

.profile-menu .cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.profile-menu:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.sidebar {
  max-height: 120px;
  width: 130px;
  padding: 10px 0 10px 0;
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 15px;
  right: 4px;
}

.sidebar a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.sidebar a:hover {
  background-color: #f5f5f5;
}

.profile-menu:hover .sidebar {
  display: block;
}

.search-container {
  background-color: white;
  width: 50%;
  height: 80px;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.search-container div {
  width: 50%;
  height: 90%;
  padding: 5px 0 0 20px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.search-container div.where:hover, div.who:hover, div.when:hover {
  background-color: #e3e2e2;
  border-radius: inherit;
}

.rounded-form-field {
  margin-right: 20px;
}

.search-container input {
  height: 95%;
  width: 100%;
  border: 0;
  border-radius: 50px;
}

p {
  font-size: small;
  padding: 0;
}

p.pp {
  margin: 13px 0 0 0;
}

.where p {
  margin: 0;
}

.pg {
  color: dimgray;
  display: block;
}

.who {
  cursor: pointer;
}

div.dropdown {
  display: none;
  width: 290px;
  height: 250px;
  border-radius: 15px;
  background-color: white;
  padding: 0 0 5px 15px;
  margin-top: -9px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.who:hover .dropdown {
  display: block;
}

.menuitem {
  padding: 10px;
  display: flex;
}

.dugmici button {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: 0;
  background: lightgray;
}

.dugmici button:hover {
  background: rgb(185, 185, 185);
}

div.dugmici {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
  margin-left: 25px;
}

.dugmici button {
  margin: 0 20px;
}

.numberOfAdults, .numberOfChildren {
  width: 30px;
  text-align: center;
  margin-top: 13px;
  font-size: 15px;
}

.custom-toolbar {
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  width: 90%;
  margin: 15px auto;
}

.divider {
  margin: 0 5px 0 5px;
  font-size: 25px;
}

.content {
  margin-top: 5vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.property-card {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: 10px;
  cursor: pointer;
}

.card-img {
  width: 100%;
  object-fit: cover;
  height: 200px;
}
mat-card-content {
  flex: 1;
  padding: 16px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.card-title {
  margin-top: 5px;
  font-size: 1.25em;
  font-weight: 600;
}

.footer-info {
  margin-top: auto;
  padding-bottom: 10px;
  min-height: 50px;
}

.profile-image {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 0 10px;
  object-fit: cover;
}

.cont {
  display: flex;
  align-items: center;
}

body > app-root > home > div.home-content > div > div.search-container > div.when > mat-form-field > div.mat-mdc-form-field-subscript-wrapper.mat-mdc-form-field-bottom-align{
  display: none;
}
