<div class="home-content">
  <div class="header">
    <div class="logo">

      <img src="./assets/logo.png" alt="Airbnb logo">
    </div>

    <div class="search-container">
      <div class="where">
        <p class="pp">Where</p>
       <!-- <input [(ngModel)]="pretraga" id="search" type="text" placeholder="Where are you going">-->
      </div>
      <div class="when">
        <p class="pp">When</p>
        <input class="dateInput" type="date" placeholder="When are you going">
      </div>
      <div class="who" >
        <p class="pp">Who</p>
        <p>Add guests</p>
        <section class="dropdown">

        <span class="menuitem">
          <div>Adults
        <p class="pg">Ages 13 or above</p></div>
<div class="dugmici">
            <button (click)="smanjiA()">-</button>
          <p class="numberOfAdults"> {{brojacA}}</p>
            <button (click)="uvecajA()">+</button>
</div>
</span>
          <span class="menuitem">
          <div>Children
<p class="pg">Ages 12 or below</p></div>
            <div class="dugmici">
             <button  tabindex="-1" aria-label="decreace value" (click)="smanjiC()">-</button>
          <p class="numberOfChildren">{{brojacC}}</p>
            <button (click)="uvecajC()">+</button>
</div>
        </span>

        </section>
      </div>
    </div>

    <div class="profile-menu">
      <div class="cont">
        <img src="./assets/nav.png">
        <img style="width: 50px" src="./assets/profile-pic.png"></div>
      <div  class="sidebar">
        <a routerLink="/login" *ngIf="!myAuthService.jelLogiran()">Log in</a>
        <a *ngIf="myAuthService.jelLogiran()" (click)="goToProfile()"
        style="cursor: pointer;">My profile</a>
        <a routerLink="/login" *ngIf="myAuthService.jelLogiran()" (click)="logOut()" style="font-weight: bold">Log out</a>
      </div>

    </div>
  </div>
</div>
<div class="content" style="margin-top: 5vh;display: flex;flex-wrap: wrap;
  justify-content: center; width: 80%;margin-left: auto; margin-right: auto;">



  <div *ngFor="let property of getProperties()" class="card" style="flex: 1 1 calc(25% - 20px); max-width: 25%; margin: 10px;  cursor:pointer;"  (click)="goToProperty()">
    <img src="" class="card-img-top" alt="{{ property.name }}" style="width: 100%;height: 200px;">
    <div class="card-body" >
      <h5 class="card-title">{{ property.name }}</h5>
      <p class="card-text">
        <strong>{{ property.city.name }}, {{ property.city?.country?.name }}</strong><br>
        Property Type: {{ property.propertyType.name|| 'N/A' }}<br>
        Address: {{ property.adress }}<br>
        Price Per Night: {{ property.pricePerNight }}<br>

      </p>
    </div>
  </div>





</div>
