<h2 mat-dialog-title>Add New Property</h2>
<mat-dialog-content [formGroup]="propertyForm">

  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>


  <mat-form-field>
    <mat-label>Address</mat-label>
    <input matInput formControlName="address">
  </mat-form-field>


  <mat-form-field>
    <mat-label>Rooms</mat-label>
    <input type="number" matInput formControlName="numberOfRooms">
  </mat-form-field>


  <mat-form-field>
    <mat-label>Bathrooms</mat-label>
    <input type="number" matInput formControlName="numberOfBathrooms">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Price Per Night</mat-label>
    <input type="number" matInput formControlName="pricePerNight">
  </mat-form-field>

  <mat-form-field>
    <mat-label>City</mat-label>
    <mat-select formControlName="cityID">
      <mat-option *ngFor="let city of cities" [value]="city.id">
        {{ city.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Property Type</mat-label>
    <mat-select formControlName="propertyTypeID">
      <mat-option *ngFor="let propertyType of propertyTypes" [value]="propertyType.id">
        {{ propertyType.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>User</mat-label>
    <mat-select formControlName="userID">
      <mat-option *ngFor="let user of users" [value]="user.id">
        {{ user.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div>
    <label>Amenities</label>
    <div formArrayName="amenities">
      <div *ngFor="let amenity of amenities; let i = index">
        <label>
          <input type="checkbox" [formControlName]="i" /> {{ amenity.name }}
        </label>
      </div>
    </div>
  </div>

  <mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [disabled]="propertyForm.invalid" (click)="submit()">Add</button>
  </mat-dialog-actions>

