.dropdown {
  position: relative;
}

.dropdown.open .dropdown-menu {
  display: block;
}

/*.flag {
  height: 1.5rem;
  width: 1.5rem;
}*/

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: -8px;
  display: none;
  z-index: 1;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 25px;
}

.dropdown-item {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #e6e4e4;
}


