<div class="language-selector">
  <div class="dropdown" [class.open]="showDropdown">
    <img *ngIf="side" [src]="selectedLanguage?.flag" class="flagButton" (click)="toggleDropdown()" />
    <img *ngIf="!side"[src]="selectedLanguage?.flag" class="flagButton2" (click)="toggleDropdown()" />
    <div class="dropdown-menu">
      <div class="dropdown-item" *ngFor="let language of languages" (click)="changeLanguage(language)">
        <img  *ngIf="side"[src]="language.flag" class="flag"/>
        <img *ngIf="!side" [src]="language.flag" class="flag2"/>
        <span>{{language.name}}</span>
      </div>
    </div>
  </div>
</div>
