.row1{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-fluid {
  height: 100%;
}

.navigation{
  display: flex;
  align-items: center;
  gap: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: larger;
  color:#3A3A3A;
}

.top{
  margin-bottom:25px;
}

.nav-element span{
  color: #333333;
  font-size: large;
}
.nav-element{
  padding-bottom: 30px;
}
.card-img{
  max-height:80px;
  max-width: 80px;
  margin: 0 20px 0 0px;
}
.content {
  margin-left: 300px;
  height: 100%;
  overflow-y: auto;
}

.reservations-container {
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  background-color: #eee;
}

.reservations-title {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
}

.reservations-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.reservation-card {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.reviews-card{
  display: flex;
  align-items: flex-start;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.reservation-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 15px;
}

.reservation-title {
  font-size: 18px;
  margin: 0;
}

.reviews-title{
  font-size: 25px;
  margin: 10px;
}

.reservation-info {
  font-size: 14px;
  color: #555;
}

.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.password-input {
  width: 100%;
  padding-right: 40px;
}

.password-toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}


mat-icon {
  cursor: pointer;
}

#alert {
  width: 300px;
  height: 50px;
  position: absolute;
  right: 20px;
  top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1050;
}

#alert2 {
  width: 500px;
  height: 50px;
  position: absolute;
  right: 20px;
  top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #edd4d4;
  border: 1px solid #e6c3c3;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1050;
}

.buttons{
  display: flex;  justify-content: space-around;
}

.file-input{
  width:200px; margin: 0 0 20px 25px
}

input[type="file"] {
  color: transparent;
}
