

<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark-subtle sidebar-custom" style="width: 300px;">
      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-5 text-white min-vh-100">
        <div class="top">
          <button mat-button (click)="nazad()">
            <div class="navigation">
              <mat-icon>arrow_back</mat-icon>
              <span>{{'backToHome'|transloco}}</span>
            </div>
          </button>
        </div>

        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" style="padding:10px;" id="menu">

          <li class="nav-element">
            <button mat-button>
                <span>{{'myReservations'|transloco}}</span>
            </button>
         </li>
          <li class="nav-element">
            <button mat-button>
              <span>{{'myWishlist'|transloco}}</span>
            </button>
          </li>
          <li class="nav-element">
            <button mat-button (click)="toggleEditMode()">
              <span>{{'editProfile'|transloco}}</span>
            </button>
          </li>
          <li class="nav-element">
            <button mat-button   *ngIf="myAuthService.jelLogiran()" (click)="logOut()">
              <span>{{'logOut'|transloco}}</span>
            </button>
          </li>
         </ul>
         <hr>
        <!-- <div class="dropdown pb-4">
           <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
             <img src="https://placehold.co/30x30/orange/white" alt="hugenerd"  class="rounded-circle">
             <span class="d-none d-sm-inline" style="margin-left: 15px">{{user?.username}}</span>
           </a>
           <ul class="dropdown-menu dropdown-menu-dark  shadow">
             <li style="cursor:pointer;"><a class="dropdown-item" (click)="toggleEditMode()">Edit profile</a></li>
             <li>
               <hr class="dropdown-divider">
             </li>
             <li style="cursor:pointer;"><a  class="dropdown-item pointer"  *ngIf="myAuthService.jelLogiran()" (click)="logOut()">Sign out</a></li>
           </ul>
         </div>-->
       </div>
     </div>
     <div class="col p-0">
       <section id="korisnik" style="background-color: #eee; height:100%">
         <div class="container py-5">
           <div class="row1">
             <div class="col-lg-4">
               <div class="card mb-4">
                 <div class="card-body text-center" style="display: flex;flex-direction: row; align-items: center; justify-content: flex-start;">
                   <div style="margin: 0 20px 0 5px">
                     <img mat-card-image src="https://placehold.co/80x80/orange/white" alt="user image" class="card-img">
                   </div>
                   <div style="display: flex; flex-direction: column; align-items: flex-start;">
                     <h4 class="my-3">{{user?.name}} {{user?.surname}}</h4>
                     <p class="text-muted mb-1">{{user?.username}}</p>
                   </div>
                 </div>
               </div>
             </div>
             <div class="col-lg-8">
               <div class="card mb-4">
                 <div class="card-body">
                   <!-- Full name -->
                   <div class="row">
                     <div class="col-sm-3">
                       <p class="mb-0">{{'fullName'|transloco}}</p>
                     </div>
                     <div class="col-sm-9">
                       <ng-container *ngIf="isEditing; else viewFullName">
                         <input type="text" [(ngModel)]="user.name" class="form-control">
                         <input type="text" [(ngModel)]="user.surname" class="form-control">
                       </ng-container>
                       <ng-template #viewFullName>
                         <p class="text-muted mb-0">{{ user?.name }} {{ user?.surname }}</p>
                       </ng-template>
                     </div>
                   </div>
                   <hr>
                   <!-- Phone number -->
                   <div class="row">
                     <div class="col-sm-3">
                       <p class="mb-0">{{'phone'|transloco}}</p>
                     </div>
                     <div class="col-sm-9">
                       <ng-container *ngIf="isEditing; else viewPhoneNumber">
                         <input type="text" [(ngModel)]="user.phone" class="form-control">
                       </ng-container>
                       <ng-template #viewPhoneNumber>
                         <p class="text-muted mb-0">{{ user?.phone }}</p>
                       </ng-template>
                     </div>
                   </div>
                   <hr>
                   <!-- Email -->
                   <div class="row">
                     <div class="col-sm-3">
                       <p class="mb-0">{{'email'|transloco}}</p>
                     </div>
                     <div class="col-sm-9">
                       <ng-container *ngIf="isEditing; else viewEmail">
                         <input type="email" [(ngModel)]="user.email" class="form-control">
                       </ng-container>
                       <ng-template #viewEmail>
                         <p class="text-muted mb-0">{{ user?.email }}</p>
                       </ng-template>
                     </div>
                   </div>
                   <hr>
                   <!-- Birthday -->
                   <div class="row">
                     <div class="col-sm-3">
                       <p class="mb-0">{{'birthday'|transloco}}</p>
                     </div>
                     <div class="col-sm-9">
                       <ng-container *ngIf="isEditing; else viewBirthday">
                         <input type="date" [(ngModel)]="user.dateBirth" class="form-control">
                       </ng-container>
                       <ng-template #viewBirthday>
                         <p class="text-muted mb-0">{{ user?.dateBirth | date:'dd/MM/yyyy' }}</p>
                       </ng-template>
                     </div>
                   </div>
                   <hr>
                   <!-- Registration date -->
                   <div class="row">
                     <div class="col-sm-3">
                       <p class="mb-0">{{'registrationDate'|transloco}}</p>
                     </div>
                     <div class="col-sm-9">
                       <ng-container *ngIf="isEditing; else viewRegistrationDate">
                         <input type="date" [(ngModel)]="user.dateOfRegistraion" class="form-control">
                       </ng-container>
                       <ng-template #viewRegistrationDate>
                         <p class="text-muted mb-0">{{ user?.dateOfRegistraion | date:'dd/MM/yyyy' }}</p>
                       </ng-template>
                     </div>
                   </div>

                   <!-- Save Changes Button -->
                   <ng-container *ngIf="isEditing">
                     <hr>
                     <div  style="display: flex;  justify-content: space-around;">
                     <button class="btn btn-success" (click)="saveChanges()">{{'saveChanges'|transloco}}</button>
                     <button  class="btn btn-outline-secondary" (click)="toggleEditMode()">{{'cancel'|transloco}}</button>
                     </div>
                   </ng-container>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </section>
     </div>
  </div>
</div>
