.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-wrapper {
  width: 90%;
  margin: 0 auto;
}

.property-container {
  max-width: 1200px;
  margin: 0 auto;
}

.property-container .top {
  display: flex;
  justify-content: flex-start;
  margin-top: 2%;
  text-align: left;
  width: 100%;
}




.d-inline-block{
  margin:5% 0 5% 0;
}

.property-header {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 20px;
}

.property-name h1 {
  font-size: 2.5rem;
  color: #333;
}

.property-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.property-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.property-header h1 {
  font-size: 2.5rem;
  color: #333;
}

.property-gallery {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}

.property-gallery img {
  height: 400px;
  object-fit: cover;
  border-radius: 8px;
}

.property-details {
  display: flex;
  justify-content: center;
  align-items:center;
  margin-top: 2rem;
}

.card {
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 2rem auto;
}

.card-header {
  background-color: #f8f9fa;
  border-bottom: 1px solid #ddd;
  padding: 15px;
  display: flex;
  justify-content: center; /* Centers the content within the card header */
  align-items: center;
}

.card-header h1 {
  font-weight: bold;
}

.card-body {
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.cont{
  display: flex;
  flex-direction: row;
}
