<div class="property-container">
  <div class="top">
    <button mat-button (click)="nazad()" style="font-size: 20px;">
      <mat-icon>arrow_back</mat-icon> {{'backToHome' |transloco}}
    </button>
  </div>
  <!-- Property Name -->
  <div class="property-header text-center">
    <div class="property-name">
      <h1>{{ property?.name }}</h1>
      <div *ngIf="property?.averageRating !== undefined" class="average-rating">
        <span class="rating-label">{{ 'averageRating' | transloco }}: </span>
        <span class="rating-value">{{ property?.averageRating | number:'1.1-1' }}</span>
      </div>
    </div>
  </div>

  <!-- Gallery -->
  <!--
  <div class="property-gallery mb-4">
    <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-inner">
        <div *ngFor="let image of property.images; let i = index"
          [class.carousel-item]="true"
          [class.active]="i === 0">
       <img [src]="property.images.path" class="d-block w-100" alt="Property Image">
     </div>
   </div>
   <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
     <span class="carousel-control-prev-icon" aria-hidden="true"></span>
     <span class="sr-only">Previous</span>
   </a>
   <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
     <span class="carousel-control-next-icon" aria-hidden="true"></span>
     <span class="sr-only">Next</span>
   </a>
 </div>
</div>
<div class="cont">-->
  <!-- U `property.component.html` -->
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="false">
    <ol class="carousel-indicators">
      <li *ngFor="let image of property.images; let i = index"
          [attr.data-bs-target]="'#carouselExampleIndicators'"
          [attr.data-bs-slide-to]="i"
          [class.active]="i === 0"
          [attr.aria-label]="'Slide ' + (i + 1)">
      </li>
    </ol>
    <div class="carousel-inner">
      <div *ngFor="let image of property.images; let i = index"
           class="carousel-item"
           [class.active]="i === 0">
        <img [src]="image.path"
             class="d-block w-100"
             alt="Slide image"/>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>

  <div class="amenities-section">
    <h3>{{ 'amenities' | transloco }}</h3>
    <ul class="list-group">
      <li *ngFor="let amenity of amenities" class="list-group-item">
        <strong>{{ amenity.name }}</strong>: {{ amenity.description }}
      </li>
    </ul>
  </div>


  <div *ngIf="property" class="property-details">
    <div class="row">
      <div class="col-md-6 mb-3">
        <h5 style="font-size: 18px; font-weight:600;">{{'address'|transloco}}</h5>
        <p style="font-size: 15px;">{{ property.address }}</p>
      </div>
      <div class="col-md-6 mb-3">
        <h5 style="font-size: 18px; font-weight:600;">{{'city'|transloco}}</h5>
        <p style="font-size: 15px;">{{ property.cityName }}, {{ property.countryName }}</p>
      </div>
      <div class="col-md-6 mb-3">
        <h5 style="font-size: 18px; font-weight:600;">{{'numberOfRooms'|transloco}}</h5>
        <p style="font-size: 15px;">{{ property.numberOfRooms }}</p>
      </div>
      <div class="col-md-6 mb-3">
        <h5 style="font-size: 18px; font-weight:600;">{{'numberOfBathrooms'|transloco}}</h5>
        <p style="font-size: 15px;">{{ property.numberOfBathrooms }}</p>
      </div>
      <div class="col-md-6 mb-3">
        <h5 style="font-size: 18px; font-weight:600;">{{'pricePerNight'|transloco}}</h5>
        <p style="font-size: 15px;">{{ property.pricePerNight }} KM</p>
      </div>
      <div class="col-md-6 mb-3">
        <h5 style="font-size: 18px; font-weight:600;">{{'propertyType'|transloco}}</h5>
        <p style="font-size: 15px;">{{ property.propertyTypeName }}</p>
      </div>
    </div>
  </div>




    <div class="con"  style="width: 400px; margin:auto;">
      <div class="col-md-8 "  style="width: 110%;">
        <div class="card">
          <div class="card-header">
            <h1 style="margin: 10px 0 0 15px;">{{ property.pricePerNight }} KM </h1>
            <span style="margin: 10px 0 0 15px; font-size: 16px;">{{'perNight'|transloco}}</span>
          </div>
          <div class="card-body">
            <div class="row">
              <mat-form-field class="rounded-form-field">
                <mat-label>{{'checkInCheckOut'|transloco}}</mat-label>
                <mat-date-range-input [rangePicker]="picker" (dateRangeChange)="calculateNightsAndTotalPrice()">
                  <input matStartDate [(ngModel)]="checkinDate" placeholder="Start date" (ngModelChange)="calculateNightsAndTotalPrice()">
                  <input matEndDate [(ngModel)]="checkoutDate" placeholder="End date" (ngModelChange)="calculateNightsAndTotalPrice()">
                </mat-date-range-input>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              </mat-form-field>
            </div>
            <div class="form-group">
              <label style="font-size: 16px; float: left;" for="guests">{{'guests'|transloco}}</label>
              <select class="form-control" id="guests" [(ngModel)]="guests">
                <option value="1">1 guest</option>
                <option value="2">2 guests</option>
                <option value="3">3 guests</option>
              </select>
            </div>
            <div class="form-group">
              <label style="font-size: 16px; float: left;" for="paymentMethods">{{'paymentMethod'|transloco}}</label>
              <select class="form-control" id="paymentMethods" [(ngModel)]="paymentMethods">
                <option value="1">{{'creditCard'|transloco}}</option>
                <option value="2">{{'cash'|transloco}}</option>
              </select>
            </div>
            <button class="btn btn-primary btn-block"  (click)="reserve()">{{'reserve'|transloco}}</button>
            <div class="row mt-3">
              <div class="col-md-6  fs-6">
                KM {{pricePerNight}} x {{ nights }} {{'nights'|transloco}}
              </div>
              <div class="col-md-6 text-right fs-6">
                {{ (pricePerNight * nights) | number }} KM
              </div>
            <!--  <div class="col-md-6 text-right">
                KM{{ (property.pricePerNight * nights* guests) | number }}
              </div>-->
            </div>
            <hr>
            <div class="row">
              <div class="col-md-6 fs-6">
                {{'totalPrice'|transloco}}:
              </div>
              <div class="col-md-6 text-right fs-6" style="font-weight: 600; "> {{ totalPrice | number }} KM
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


<div>

  <div class="review-container">
    <review-component [type]="'property'" [id]="this.propertyId"></review-component>
  </div>


</div>




