<div class="container">
<h2 class="reviews-title">{{ 'myReviews' | transloco }}</h2>
<div *ngIf="noReviews" class="text-center"> {{ type === 'property' ? ('thereAreNoReviews' | transloco) : ('noReviews' | transloco) }}</div>
<div class="reservations-list">
  <mat-card *ngFor="let review of reviews" class="reviews-card">
    <mat-card-content>
      <div class="review-header" *ngIf="type === 'property'">
        <span class="user-fullname">{{ review.userFullName }}</span>
        <span class="user-username">&commat;{{ review.userName }}</span>
      </div>

      <h4 mat-card-title style="font-size: 25px; margin-bottom:5px;" *ngIf="type === 'user'">
        {{ review.propertyName }}
      </h4>
      <p class="reservation-info">
        {{ 'rating' | transloco }}: {{ review.review }}
        <br>
        {{ review.comment }}<br>
        {{ review.dateReview  | date:'short' }}<br>
      </p>
    </mat-card-content>
  </mat-card>
</div>
</div>
